body{
	background-image: url('/images/wall.gif');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

body div{
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
	padding-top: 25%;
}

a{
	text-decoration: none;
	color: pink;
}