body{
	background-image: url('/images/wall.gif');
	background-size: cover;
	background-attachment: scroll;
	padding-bottom: 0px;
	height: 100%;
}

body div{
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
	padding-top: 25%;
}

a{
	text-decoration: none;
	color: pink;
}