body {
      text-align:center;
      background:url('/images/wall.gif') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
    }

body div{
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
	padding-top: 25%;
}

a{
	text-decoration: none;
	color: pink;
}